<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale='1.0'"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'django_test/css/bootstrap.min.css' %}" type="text/css"/>
    <title>Заголовок Страницы</title>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1>{% include "django_test/includes/test_2.html" %}</h1>
        {% block content %}
<!--        content here-->
        {% endblock %}
        <a href="/" class="btn btn-success btn-lg">Главная страница</a>
        <a href="/news" class="btn btn-primary btn-lg">Новости &raquo;</a>
        <a href="/contact" class="btn btn-info btn-lg">Контакты</a>
        <img style="margin-top:20px;" src="{% static 'django_test/imgs/test.jpg'%}" class="img-tumbnail">
    </div>
</div>
</body>
</html>